/* App.css */

body {
  height: 100vh;
  font-family: sans-serif, Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  /* background-color: #f8f9fa; */
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  display: inline;
  margin-right: 10px;
}

.navbar button {
  background-color: #808080;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.navbar button.active {
  background-color: #ddd;
  color: #000;
}

@media only screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin-top: 10px;
  }

  .navbar ul li {
    /* display: block; */
    margin: 5px 0;
  }
  .navbar button {
    padding: 6px 12px;
    margin-left: 5px;
  }
}

@media only screen and (max-width: 412px) {
  .navbar button {
    padding: 4px 8px;
    margin-left: 5px;
  }
  .top-class,
  .top-class-e {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  table {
    width: 100%; /* Make table full width on smaller screens */
  }

  th,
  td {
    padding: 8px; /* Reduce padding for smaller screens */
  }
}
